h1.ui.center.header {
    margin-top: 3em;
}

.bottom-space {
  margin-bottom: 50px;
}

.profile {
  border-radius: 100%;
}

.content {
  text-align: left;
}

.ui.facebook.button.hide {
  display: none;
}
